<% if (locals?.user?.association_member) { %>
    <div class="alert alert-success d-flex align-items-center mb-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill"></use>
        </svg>
        <div>
            <%- dict[lang].new_cheese_information_association_member_html %>
        </div>
    </div>
<% } else { %>
    <div class="alert alert-warning d-flex align-items-center mb-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill"></use>
        </svg>
        <div>
            <%- dict[lang].new_cheese_information_not_association_member_html %>
        </div>
    </div>
<% } %>

