<nav class="d-flex justify-content-center">
	<ul class="pagination">

        <!--- Previous --->
		<li class="page-item <%= page===1 ? "disabled" : "" %>">
			<a class="page-link" href="/landing?page=<%= page-1 %>" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>

		<% if (max_page_number <= 7) { %>
		<% for(let i=1; i <= max_page_number; ++i) { %>
		<li class="page-item <%= i===page ? "active" : "" %>"><a class="page-link" href="/landing?page=<%= i %>"><%= i %></a></li>
		<% }} else { %>
		<!--- 1 --->
		<li class="page-item <%= page===1 ? "active" : "" %>"><a class="page-link" href="/landing?page=1">1</a></li>

		<!--- 2 --->
		<% if (page <= 4) {%>
		<li class="page-item <%= page===2 ? "active" : "" %>"><a class="page-link" href="/landing?page=2">2</a></li>
		<% } else { %>
		<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
		<% } %>

		<!--- 3 --->
		<% if (page <= 4) {%>
		<li class="page-item <%= page===3 ? "active" : "" %>"><a class="page-link" href="/landing?page=3">3</a></li>
		<% } else if (page >= max_page_number-3) { %>
		<li class="page-item"><a class="page-link" href="/landing?page=<%= max_page_number-4 %>"><%= max_page_number-4 %></a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="/landing?page=<%= page-1 %>"><%= page-1 %></a></li>
		<% } %>

		<!--- 4 --->
		<% if (page <= 4) {%>
		<li class="page-item <%= page===4 ? "active" : "" %>"><a class="page-link" href="/landing?page=4">4</a></li>
		<% } else if (page >= max_page_number-3) { %>
		<li class="page-item <%= page===max_page_number-3 ? "active" : "" %>"><a class="page-link" href="/landing?page=<%= max_page_number-3 %>"><%= max_page_number-3 %></a></li>
		<% } else { %>
		<li class="page-item active"><a class="page-link" href="/landing?page=<%= page %>"><%= page %></a></li>
		<% } %>

		<!--- 5 --->
		<% if (page <= 4) {%>
		<li class="page-item"><a class="page-link" href="/landing?page=5">5</a></li>
		<% } else if (page >= max_page_number-3) { %>
		<li class="page-item <%= page===max_page_number-2 ? "active" : "" %>"><a class="page-link" href="/landing?page=<%= max_page_number-2 %>"><%= max_page_number-2 %></a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="/landing?page=<%= page+1 %>"><%= page+1 %></a></li>
		<% } %>

		<!--- 6 --->
		<% if (page >= max_page_number-3) {%>
		<li class="page-item <%= page===max_page_number-1 ? "active" : "" %>"><a class="page-link" href="/landing?page=<%= max_page_number-1 %>"><%= max_page_number-1 %></a></li>
		<% } else { %>
		<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
		<% } %>

		<!--- 7 --->
		<li class="page-item <%= page===max_page_number ? "active" : "" %>"><a class="page-link" href="/landing?page=<%= max_page_number %>"><%= max_page_number %></a></li>
		<% } %>

        <!--- Next --->
		<li class="page-item <%= page===max_page_number ? "disabled" : "" %>">
			<a class="page-link" href="/landing?page=<%= page+1 %>" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>