<header class="py-3 mb-4 border-bottom">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/scripts/navbar_responsive.js" defer></script>

	<div class="row head_nav">
		<div class="col text-center">
			<a class="mb-4" href="/">
				<img class="logopicture" alt="LOGO" src="/assets/css/MSE.png">
			</a>
		</div>
	</div>

	<div class="row topnav head_nav mb-2" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i style="font-style: normal; font-weight: bolder; font-size:xx-large;" id="hamburger_icon">&#9776;</i>
        </a>
		<div class="col"><a href="/" class="nav-link">Főoldal</a></div>
        <div class="col"><a href="/coordination" class="nav-link">Verseny koordináció</a></div>
        <div class="col"><a href="/cheeses" class="nav-link">Nevezett sajtok</a></div>
        <div class="col"><a href="/unpaid_cheeses" class="nav-link">Fizetetlen sajtok</a></div>
        <div class="col"><a href="/results" class="nav-link">Eredmények</a></div>
        <div class="col"><a href="/settings" class="nav-link">Beállítások</a></div>
        <div class="col"><a href="/users" class="nav-link">Versenyzők</a></div>
        <div class="col"><a href="/association_members" class="nav-link">Egyesületi tagok</a></div>
        <div class="col"><a href="/judges" class="nav-link">Bírák</a></div>
        <div class="col"><a href="/admins" class="nav-link">Adminisztrátorok</a></div>
        <div class="col"><a href="/archive" class="nav-link">Archívum</a></div>
		<div class="col"><a href="/logout" class="nav-link">Kijelentkezés</a></div>
	</div>

	<div class="row topnav head_nav">
		<div class="col text-center">
			<div>Bejelentkezve: <%= user.email %></div>
		</div>
	</div>

</header>