body {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logopicture {
  width: 220px;
  height: 111px;
}
.btn-back {
  color: #954824;
  background-color: #f5f5f5;
  border-color: #954824;
  margin: 0.15rem;
}
.btn-back:hover {
  color: #954824;
  background-color: #f5f5f5;
  border-color: #954824;
  margin: 0.15rem;
}
.btn-primary {
  color: #954824;
  background-color: #ffd06c;
  border-color: #ffd06c;
  margin: 0.15rem;
}
.btn-primary:hover {
  color: #954824;
  background-color: #f7c353;
  border-color: #f7c353;
  margin: 0.15rem;
}
.errormsg {
  text-align: left;
  color: red;
}
.picture {
  padding: 10px;
}
.link {
  padding: 2.5px;
  text-align: center;
}
.table_btn {
  vertical-align: middle;
}
.head_nav {
  font: 16px Roboto, sans-serif;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font: 16px Roboto, sans-serif;
  display: block;
  color: #954824;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.topnav a:hover {
  border-bottom: 2px solid #f7c353;
  color: #954824;
}
.topnav a.active {
  border-bottom: 2px solid #f7c353;
  color: #954824;
}
.btn-link {
  padding-top: 1.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font: 16px Roboto, sans-serif;
  display: block;
  color: #954824;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.btn-link:hover {
  border-bottom: 2px solid #f7c353;
  color: #954824;
}
.aligncenter {
  align-items: center;
}
.text-right {
  text-align: right;
}
.list-group-item {
  padding: 0.5rem 0.2rem 0.5rem 1.5rem;
  border: 0 solid rgba(0, 0, 0, 0.125);
}
.mwidth {
  width: 320px;
}
.text-info {
  --bs-text-opacity: auto;
}
.barion_logo {
  width: 90%;
}
